<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{{tsl .Session.Lang "main.title"}} - {{tsl .Session.Lang "label.publish.blog"}}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <script src="/js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/codemirror/codemirror.min.css"/>
    <link rel="stylesheet" type="text/css" href="/codemirror/monokai.min.css">
    <script type="text/javascript" src="/codemirror/codemirror.min.js"></script>
    <script type="text/javascript" src="/codemirror/xml.min.js"></script>
    <script type="text/javascript" src="/codemirror/formatting.min.js"></script>

    <!-- include summernote -->
    <link href="/css/summernote.css" rel="stylesheet">
    <script src="/js/summernote.min.js"></script>
</head>

<body>
<div id="wrapper">
    {{template "layout/head" .}}
    {{template "layout/left" .}}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{tsl .Session.Lang "label.publish.blog"}}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        {{template "layout/message" .}}
        <div class="row">
            <div class="col-lg-10">
                <form id="profileForm" role="form" class="form-horizontal" method="post" action="/blog/publish">

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" id="title" class="form-control"
                                   placeholder='{{tsl .Session.Lang "label.title"}}' name="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="summernote"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <button type="button" onclick="save(true)" class="btn btn-primary btn-block">
                                {{tsl .Session.Lang "label.publish"}}
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" onclick="save(false)" class="btn btn-success btn-block">
                                {{tsl .Session.Lang "label.save"}}
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button id="viewBtn"  type="button" onclick="viewToggle()" class="btn btn-default btn-block">
                                {{tsl .Session.Lang "label.view"}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootbox.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.validate.method.js"></script>
<script src="/js/jquery.metisMenu.js"></script>
<script src="/js/jquery.json.js"></script>
<script src="/js/admin.js"></script>
<script src="/js/easykoo.js"></script>

<script type="text/javascript">
    var blogId = 0;
    var version = 1;
    var state = "EDIT";
    var viewToggle = function () {
        if (state == "EDIT"){
            view();
            state = "VIEW";
            $('#viewBtn').text('{{tsl .Session.Lang "label.edit"}}')
        } else {
            edit();
            state = "EDIT";
            $('#viewBtn').text('{{tsl .Session.Lang "label.view"}}')
        }
    }
    var save = function (publish) {
        var content = $('.summernote').code();
        $.ajax({
            dataType: "json",
            type: "POST",
            url: publish ? '/blog/publish' : '/blog/save',
            data: {
                id: blogId,
                title: $('#title').val(),
                content: content,
                version: version
            },
            success: function (data) {
                if (data.success) {
                    blogId = data.blog.Id;
                    version = data.blog.Version;
                    bootbox.dialog({
                        title: data.message,
                        message: data.message,
                        buttons: {
                            main: {
                                label: '{{tsl .Session.Lang "label.confirm"}}',
                                className: "btn-success"
                            },
                            danger: {
                                label: '{{tsl .Session.Lang "label.cancel"}}',
                                className: "btn-default"
                            }
                        }
                    });
                }
            }
        });
    };

    var view = function(){
        //todo handle title
        $('.summernote').destroy();
    }

    var edit = function(){
        //todo handle title
        $('.summernote').summernote({
            height: 400,
            codemirror: {
                theme: 'monokai'
            }
        });
    }

    $(document).ready(function () {
        $('#blog').toggleClass('active').children('ul').collapse('toggle');
        $('#publishBlog').css({"background": "#DDDDDD"});
        edit();
    })
</script>
</body>
</html>
