<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{{.Session.Settings.AppName}} - {{tsl .Session.Lang "label.blog"}}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/front.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

{{$session:=.Session}}
{{$res:=.Response}}
{{template "layout/front_nav" .}}

<div class="container">

    <div class="row">

        {{template "layout/blog_side" .}}

        <div id="container" class="col-lg-9 pull-left">

            <h1>{{.Response.Blog.Title}}</h1>

            <p class="lead"> {{if equal .Session.Lang "zh"}}{{else}}by&nbsp;{{end}}{{.Response.Blog.Author.FullName}}
                {{if .Session.SignedUser}}
                {{if equal .Session.SignedUser.Id .Response.Blog.Author.Id}}
                &nbsp;&nbsp;<a href='/blog/edit/{{.Response.Blog.Id}}'>{{tsl .Session.Lang "label.edit"}}</a>
                {{end}}
                {{end}}
            </p>
            <hr>
            <p>
                <span class="fa fa-clock-o"></span>

                {{if equal .Session.Lang "zh"}}
                发表于 {{.Response.Blog.PublishDate | cnFormatTime}}
                {{else}}
                Posted on {{.Response.Blog.PublishDate | formatTime}}
                {{end}}
                {{with .Response.Blog.Tags}}
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-tag fa-5"></i>
                {{range .}}
                <a class="label label-info tag" href="/blog/tag/{{.Name}}">{{.Name}}</a>
                {{end}}
                {{end}}
            </p>
            <hr>
            {{.Response.Blog.AllContent | unescaped}}

            <hr>
            <!-- the comment box -->
            <div class="well">
                <h4>{{tsl .Session.Lang "label.leave.comment"}}:</h4>

                <form role="form" id="commentForm" action="/blog/comment" method="post">
                    <input name="blogId" type="text" value="{{.Response.Blog.Id}}" hidden="true">

                    <div class="form-group">
                        <textarea id="content" name="content" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="button" onclick="send()" class="btn btn-primary">
                        {{tsl .Session.Lang "label.submit"}}
                    </button>
                </form>
            </div>

            <hr>
            {{with .Response.Blog.Comments}}
            {{range $key,$val:=.}}
            {{if equal .Seq 1}}{{else}}<hr>{{end}}
            <h4 id='{{.Seq}}'>
                {{if .Name}}
                <a href='mailto:{{.Email}}'>{{.Name}}</a>
                {{else}}
                {{tsl $session.Lang "label.anonymous"}}
                {{end}}
                <small>
                    #{{plus $key 1}}
                    {{if equal $session.Lang "zh"}}
                    {{.CreateDate | cnFormatTime}}
                    {{else}}
                    {{.CreateDate | formatTime}}
                    {{end}}
                </small>

                {{if privilege $session.SignedUser 5}}
                <button class="btn btn-danger btn-xs pull-right" onclick='deleteComment("{{$res.Blog.Id}}","{{.Seq}}")'>
                    {{tsl $session.Lang "label.delete"}}
                </button>
                {{end}}
            </h4>
            <p>{{.Content}}</p>
            {{end}}
            {{end}}

        </div>

    </div>

    <hr>
    {{template "layout/footer" .}}

</div>
<!-- /.container -->

<!-- JavaScript -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.validate.method.js"></script>
<script src="/js/bootbox.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/easykoo.js"></script>

<script type="text/javascript">
    var send = function () {
        if ($('#content').val() == "") {
            return bootbox.alert('{{tsl .Session.Lang "message.error.content.required"}}', null);
        }
        $.ajax('/blog/comment', {
            dataType: 'json',
            type: "POST",
            data: {
                blogId: '{{.Response.Blog.Id}}',
                content: $('#content').val()
            },
            success: function (data) {
                if (!data.success) {
                    bootbox.alert(data.message, null);
                }
                content: $('#content').val("");
                window.location.reload();
            }
        });
    }

    var deleteComment = function (blogId, seq) {
        bootbox.dialog({
            message: '{{tsl .Session.Lang "message.sure.delete.record"}}',
            title: '{{tsl .Session.Lang "label.delete.record"}}',
            buttons: {
                danger: {
                    label: '{{tsl .Session.Lang "label.confirm"}}',
                    className: "btn-danger",
                    callback: function (result) {
                        if (result) {
                            $.ajax('/blog/comment/delete/' + blogId + '/' + seq, {
                                dataType: 'json',
                                type: "GET",
                                success: function (data) {
                                    if (!data.success) {
                                        bootbox.alert(data.message, null);
                                    }
                                    window.location.reload();
                                }
                            });
                        }
                    }
                },
                main: {
                    label: '{{tsl .Session.Lang "label.cancel"}}',
                    className: "btn-default",
                    callback: null
                }
            }
        });
    }

    $(document).ready(function () {
        $(".tag").hover(function () {
            $(this).find(".badge").removeClass("hidden");
        }, function () {
            $(this).find(".badge").addClass("hidden");
        })

        direct();
    });
</script>

</body>

</html>
