<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{{tsl .Session.Lang "main.title"}} - {{tsl .Session.Lang "label.blog"}}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/front.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

{{template "layout/front_nav" .}}

<div class="container">

    <div class="row">
        <div class="col-lg-9">

            <h1>{{.Response.Blog.Title}}</h1>

            <p class="lead"> {{if equal .Session.Lang "zh"}}{{else}}by&nbsp;{{end}}{{.Response.Blog.Author.FullName}}
                {{if .Session.SignedUser}}
                {{if equal .Session.SignedUser.Username .Response.Blog.CreateUser}}
                &nbsp;&nbsp;<a href='/blog/edit/{{.Response.Blog.Id}}'>{{tsl .Session.Lang "label.edit"}}</a>
                {{end}}
                {{end}}
            </p>
            <hr>
            <p>
                <span class="fa fa-clock-o"></span>

                {{if equal .Session.Lang "zh"}}
                发表于 {{.Response.Blog.PublishDate | cnFormatTime}}
                {{else}}
                Posted on {{.Response.Blog.PublishDate | formatTime}}
                {{end}}
                {{with .Response.Blog.Tags}}
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-tag fa-5"></i>
                {{range .}}
                <a class="label label-info tag" href="javascript:goToTag('{{.Name}}')">{{.Name}}</a>
                {{end}}
                {{end}}
            </p>
            <hr>
            {{.Response.Blog.Content | unescaped}}

            <!-- the comment box -->
            <!--<div class="well">
                <h4>Leave a Comment:</h4>

                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <hr>

            &lt;!&ndash; the comments &ndash;&gt;
            <h3>Start Bootstrap
                <small>9:41 PM on August 24, 2013</small>
            </h3>
            <p>This has to be the worst blog post I have ever read. It simply makes no sense. You start off by talking
                about space or something, then you randomly start babbling about cupcakes, and you end off with random
                fish names.</p>

            <h3>Start Bootstrap
                <small>9:47 PM on August 24, 2013</small>
            </h3>
            <p>Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried foods, wild animals,
                alien abductions, business casual, robots, and fireworks' has true potential.</p>-->

        </div>

        {{template "layout/blog_side" .}}

    </div>

    <hr>
    {{template "layout/footer" .}}

</div>
<!-- /.container -->

<!-- JavaScript -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.validate.method.js"></script>
<script src="/js/bootbox.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/easykoo.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $(".tag").hover(function(){
            $(this).find(".badge").removeClass("hidden");
        },function(){
            $(this).find(".badge").addClass("hidden");
        })
    });
</script>

</body>

</html>
