<div class="col-lg-3">
    <div class="well">
        <h4>{{tsl .Session.Lang "label.search"}}</h4>

        <div class="input-group">
            <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
        </div>
    </div>
    <div class="well">
        <h4>{{tsl .Session.Lang "label.categories"}}</h4>

        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled">
                    <li><a href="#dinosaurs">History</a>
                    </li>
                    <li><a href="#spaceships">IT</a>
                    </li>
                    <li><a href="#fried-foods">Fried Foods</a>
                    </li>
                    <li><a href="#wild-animals">Wild Animals</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="well">
        <h4>{{tsl .Session.Lang "label.tags"}}</h4>

        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-default btn-xs tag" href="#" role="button">Tag1</a>
                <a class="btn btn-default btn-xs tag" href="#" role="button">Tag1</a>
                <a class="btn btn-default btn-xs tag" href="#" role="button">Tag1</a>
                <a class="btn btn-default btn-xs tag" href="#" role="button">Tag1</a>
                <a class="btn btn-default btn-xs tag" href="#" role="button">Tag1</a>
                <a class="btn btn-default btn-xs tag" href="#" role="button">Tag1</a>
                <a class="btn btn-default btn-xs tag" href="#" role="button">Tag1</a>
                <a class="btn btn-default btn-xs tag" href="#" role="button">Tag1</a>
                <a class="btn btn-default btn-xs tag" href="#" role="button">Tag1</a>
                <a class="btn btn-default btn-xs tag" href="#" role="button">Tag1</a>
                <a class="btn btn-default btn-xs tag" href="#" role="button">Tag1</a>
            </div>
        </div>
    </div>
</div>