
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
                <li id="dashboard">
                    <a href="/admin/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li id="user">
                    <a href="/user"><i class="fa fa-users fa-fw"></i> User</a>
                </li>
                <li id="feedback">
                    <a href="/feedback/allFeedback"><i class="fa fa-edit fa-fw"></i> Feedback</a>
                </li>
                <li id="notice">
                    <a href="javascript:"><i class="fa fa-volume-up fa-fw"></i> Notice<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                            <li id="allAnnouncement">
                                <a href="/notice/allNotice"> All Notice</a>
                            </li>
                            <li id="announce">
                                <a href="/notice/publishNotice"> Publish Notice</a>
                            </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li id="product">
                    <a href="javascript:"><i class="fa fa-lightbulb-o fa-fw"></i> Product<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                            <li id="allProduct">
                                <a href="/product/allProduct"> All Product</a>
                            </li>
                            <li id="publishProduct">
                                <a href="/product/publishProduct"> Publish Product</a>
                            </li>
                            <li id="editCategory">
                                <a href="/product/editCategory"> Manage Category</a>
                            </li>
                            <li id="createCategory">
                                <a href="/product/createCategory"> Create Category</a>
                            </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li id="news">
                    <a href="javascript:"><i class="fa fa-file-text-o fa-fw"></i> News<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                            <li id="allNews">
                                <a href="/news/allNews"> News</a>
                            </li>
                            <li id="publishNews">
                                <a href="/news/publishNews">Publish News</a>
                            </li>
                            <li id="allNotice">
                                <a href="/news/allNotice"> All Notice</a>
                            </li>
                            <li id="publishNotice">
                                <a href="/news/publishNotice"> Publish Notice</a>
                            </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li id="profile">
                    <a href="javascript:"><i class="fa fa-wrench fa-fw"></i> Profile<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li id="changeProfile">
                            <a href="/profile/profile"> Change Profile</a>
                        </li>
                        <li id="preferences">
                            <a href="/profile/preferences"> Preferences</a>
                        </li>
                        <li id="password">
                            <a href="/profile/password"> Change Password</a>
                        </li>
                            <!--<li>
                                <a href="javascript:">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse">
                                    <li>
                                        <a href="javascript:">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="javascript:">Third Level Item</a>
                                    </li>
                                </ul>
                                &lt;!&ndash; /.nav-third-level &ndash;&gt;
                            </li>-->
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li id="settings">
                    <a href="/admin/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</nav>
