<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{{tsl .Session.Lang "main.title"}} - {{tsl .Session.Lang "label.all.users"}}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <script src="/js/jquery-1.10.2.min.js"></script>
</head>

<body>
<div id="wrapper">
    {{template "layout/head" .}}
    {{template "layout/left" .}}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{tsl .Session.Lang "label.all.users"}}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="btn btn-danger" id="delete"><i class="fa fa-trash-o fa-fw"></i>
                            {{tsl .Session.Lang "label.delete"}}</a>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTable">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAll"/></th>
                                    <th>{{tsl .Session.Lang "label.id"}}</th>
                                    <th>{{tsl .Session.Lang "label.username"}}</th>
                                    <th>{{tsl .Session.Lang "label.full.name"}}</th>
                                    <th>{{tsl .Session.Lang "label.gender"}}</th>
                                    <th>{{tsl .Session.Lang "label.qq"}}</th>
                                    <th>{{tsl .Session.Lang "label.tel"}}</th>
                                    <th>{{tsl .Session.Lang "label.email"}}</th>
                                    <th>{{tsl .Session.Lang "label.address"}}</th>
                                    <th>{{tsl .Session.Lang "label.create.date"}}</th>
                                    <th>{{tsl .Session.Lang "label.actions"}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.metisMenu.js"></script>
<script src="/js/bootbox.min.js"></script>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.bootstrap.js"></script>
<script src="/js/jquery.json.js"></script>
<script src="/js/admin.js"></script>
<script src="/js/easykoo.js"></script>

<script type="text/javascript" charset="utf-8">

var accountTable;

function deleteAccount(accountID) {
    bootbox.dialog({
        message: "Are you sure to delete this account?",
        title: "Delete Account",
        buttons: {
            main: {
                label: '{{tsl .Session.Lang "label.cancel"}}',
                className: "btn-default",
                callback: null
            },
            danger: {
                label: '{{tsl .Session.Lang "label.yes"}}',
                className: "btn-danger",
                callback: function (result) {
                    if (result) {
                        $.ajax('/user/delete/' + accountID, {
                            dataType: 'json',
                            type: "GET",
                            success: function (data) {
                                if (!data.success) {
                                    bootbox.alert(data.message, null);
                                }
                                accountTable.fnClearTable(0);
                                accountTable.fnDraw();
                            }
                        });
                    }
                }
            }
        }
    });
}

function banAccount(accountID) {
    bootbox.dialog({
        message: "Are you sure to ban this account?",
        title: "Ban Account",
        buttons: {
            main: {
                label: '{{tsl .Session.Lang "label.cancel"}}',
                className: "btn-default",
                callback: null
            },
            danger: {
                label: '{{tsl .Session.Lang "label.yes"}}',
                className: "btn-danger",
                callback: function (result) {
                    if (result) {
                        $.ajax('/user/ban/' + accountID, {
                            dataType: 'json',
                            type: "GET",
                            success: function (data) {
                                if (!data.success) {
                                    bootbox.alert(data.message, null);
                                }
                                accountTable.fnClearTable(0);
                                accountTable.fnDraw();
                            }
                        });
                    }
                }
            }
        }
    });
}

function unbanAccount(accountID) {
    bootbox.dialog({
        message: "Are you sure to unban this account?",
        title: "Unban Account",
        buttons: {
            main: {
                label: '{{tsl .Session.Lang "label.cancel"}}',
                className: "btn-default",
                callback: null
            },
            danger: {
                label: '{{tsl .Session.Lang "label.yes"}}',
                className: "btn-success",
                callback: function (result) {
                    if (result) {
                        $.ajax('/user/lift/' + accountID, {
                            dataType: 'json',
                            type: "GET",
                            success: function (data) {
                                if (!data.success) {
                                    bootbox.alert(data.message, null);
                                }
                                accountTable.fnClearTable(0);
                                accountTable.fnDraw();
                            }
                        });
                    }
                }
            }
        }
    });
}

function makeAdmin(accountID) {
    bootbox.dialog({
        message: "Are you sure to make this account administrator?",
        title: "Make Admin",
        buttons: {
            main: {
                label: '{{tsl .Session.Lang "label.cancel"}}',
                className: "btn-default",
                callback: null
            },
            danger: {
                label: '{{tsl .Session.Lang "label.yes"}}',
                className: "btn-danger",
                callback: function (result) {
                    if (result) {
                        $.ajax('/user/admin/' + accountID, {
                            dataType: 'json',
                            type: "GET",
                            success: function (data) {
                                if (!data.success) {
                                    bootbox.alert(data.message, null);
                                }
                                accountTable.fnClearTable(0);
                                accountTable.fnDraw();
                            }
                        });
                    }
                }
            }
        }
    });
}

function hire(accountID) {
    bootbox.dialog({
        message: "Are you sure to hire this user?",
        title: "Hire",
        buttons: {
            main: {
                label: '{{tsl .Session.Lang "label.cancel"}}',
                className: "btn-default",
                callback: null
            },
            danger: {
                label: '{{tsl .Session.Lang "label.yes"}}',
                className: "btn-danger",
                callback: function (result) {
                    if (result) {
                        $.ajax('/user/hire/' + accountID, {
                            dataType: 'json',
                            type: "GET",
                            success: function (data) {
                                if (!data.success) {
                                    bootbox.alert(data.message, null);
                                }
                                accountTable.fnClearTable(0);
                                accountTable.fnDraw();
                            }
                        });
                    }
                }
            }
        }
    });
}

function fire(accountID) {
    bootbox.dialog({
        message: "Are you sure to fire this employee?",
        title: "Fire Employee",
        buttons: {
            main: {
                label: '{{tsl .Session.Lang "label.cancel"}}',
                className: "btn-default",
                callback: null
            },
            danger: {
                label: '{{tsl .Session.Lang "label.yes"}}',
                className: "btn-danger",
                callback: function (result) {
                    if (result) {
                        $.ajax('/user/fire/' + accountID, {
                            dataType: 'json',
                            type: "GET",
                            success: function (data) {
                                if (!data.success) {
                                    bootbox.alert(data.message, null);
                                }
                                accountTable.fnClearTable(0);
                                accountTable.fnDraw();
                            }
                        });
                    }
                }
            }
        }
    });
}

var accountArray = [0];

var selectAccount = function (obj, accountId) {
    if ($(obj).prop("checked")) {
        if ($.inArray(accountId, accountArray) < 0) {
            accountArray.push(accountId);
        }
    } else {
        if ($.inArray(accountId, accountArray) >= 0) {
            $.each(accountArray, function (key, value) {
                accountArray.splice(key, key)
            });
        }
    }
}

var selectAll = function (obj) {
    if (obj.checked) {
        $("input[name='selectFlag']:checkbox").each(function () {
            $(this).click();
            $(this).attr("checked", true);
        })
    } else {
        $("input[name='selectFlag']:checkbox").each(function () {
            $(this).click();
            $(this).attr("checked", false);
        })
    }
}

var unSelectAll = function () {
    $("input:checkbox").each(function () {
        $(this).attr("checked", false);
    })
}

var getAllAccounts = function () {
    accountTable = $('#dataTable').dataTable({
        bPaginate: true,
        bProcessing: true,
        bServerSide: true,
        bSort: true,
        bFilter: false,
        bAutoWidth: true,
        iDisplayStart: 0,
        iDisplayLength: 10,
        bLengthChange: true,
        sPaginationType: 'full_numbers',
        sAjaxSource: '/user',
        aaSorting: [
            [1, 'asc']
        ],
        fnServerData: function (sSource, aoData, fnCallback) {
            $.ajax({
                dataType: "json",
                type: "POST",
                "url": sSource,
                "data": aoData,
                "success": fnCallback
            });
        },
        "aoColumns": [
            { "sTitle": "<input id='selectAll' onchange='selectAll(this)' type='checkbox'/>",
                "mData": "Username"},
            { "sTitle": '{{tsl .Session.Lang "label.id"}}',
                "mData": "Id"},
            { "sTitle": '{{tsl .Session.Lang "label.username"}}',
                "mData": "Username"},
            { "sTitle": '{{tsl .Session.Lang "label.full.name"}}',
                "mData": "FullName"},
            { "sTitle": '{{tsl .Session.Lang "label.gender"}}',
                "mData": "Gender"},
            { "sTitle": '{{tsl .Session.Lang "label.qq"}}',
                "mData": "Qq"},
            { "sTitle": '{{tsl .Session.Lang "label.tel"}}',
                "mData": "Tel"},
            { "sTitle": '{{tsl .Session.Lang "label.email"}}',
                "mData": "Email"},
            { "sTitle": '{{tsl .Session.Lang "label.address"}}',
                "mData": "Address"},
            { "sTitle": '{{tsl .Session.Lang "label.create.date"}}',
                "mData": "create_date"},
            { "sTitle": '{{tsl .Session.Lang "label.actions"}}',
                "mData": "Locked"}
        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td:eq(0)', nRow).html('<input type="checkbox" name="selectFlag" onchange="selectAccount(this,' + aData.Id + ')"/>');
            gender = '{{tsl .Session.Lang "label.secret"}}'
            if (aData.Gender == 1) {
                gender = '{{tsl .Session.Lang "label.male"}}'
            } else if (aData.Gender == 2) {
                gender = '{{tsl .Session.Lang "label.female"}}'
            }
            $('td:eq(4)', nRow).text(gender);
            //    var createDate = timeStamp2String(aData.CreateDate);
            //    $('td:eq(6)', nRow).text(createDate);

            var html = '<div class="btn-group "><a class="btn btn-primary" href="javascript:"><i class="fa fa-gavel fa-fw"></i></a>' +
                    '<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="javascript:"><span class="fa fa-caret-down"></span></a>' +
                    '<ul class="dropdown-menu">' +
                    '<li><a href="javascript:deleteAccount(' + aData.Id + ')"><i class="fa fa-trash-o fa-fw"></i>'
                    + '<strong> {{tsl .Session.Lang "label.delete"}}</strong>'
                    + '</a></li>';
            if (!aData.Locked) {
                html += '<li><a href="javascript:banAccount(' + aData.Id + ')"><i class="fa fa-ban fa-fw"></i>'
                        + '<strong> {{tsl .Session.Lang "label.ban"}}</strong>'
                        + '</a></li>';
            } else {
                html += '<li><a href="javascript:unbanAccount(' + aData.Id + ')"><i class="fa fa-ban fa-fw"></i>'
                        + '<strong> {{tsl .Session.Lang "label.unban"}}</strong>'
                        + '</a></li>';
            }
            if (aData.RoleId == 2) {
                html += '<li class="divider"></li><li><a href="javascript:makeAdmin(' + aData.Id + ')"><i class="i"></i>'
                        + '<strong> {{tsl .Session.Lang "label.make.admin"}}</strong>'
                        + '</a></li>';
            }
            if (aData.RoleId == 3) {
                html += '<li class="divider"></li><li><a href="javascript:hire(' + aData.Id + ')"><i class="i"></i>'
                        + '<strong> {{tsl .Session.Lang "label.hire"}}</strong>'
                        + '</a></li>';
            } else {
                html += '<li class="divider"></li><li><a href="javascript:fire(' + aData.Id + ')"><i class="i"></i>'
                        + '<strong> {{tsl .Session.Lang "label.fire"}}</strong>'
                        + '</a></li>';
            }
            html += '</ul></div>';
            $('td:eq(10)', nRow).html(html);

            if (aData.Locked) {
                $(nRow).css({"color": "#BBBBBB"})
            }
            return nRow;
        },
        "oLanguage": {
            sUrl: [ '/css/{{tsl .Session.Lang "language"}}.txt']
        },
        "aoColumnDefs": [
            { "bSortable": false, "aTargets": [ 0 ] },
            { "bSortable": false, "aTargets": [ 10 ] }
        ]
    });
}

$(document).ready(function () {
    $('#account').css({"background": "#DDDDDD"});
    getAllAccounts();

    $('#delete').click(function () {
        if (accountArray.length <= 1) {
            bootbox.alert('{{tsl .Session.Lang "message.error.please.select"}}', null);
            return;
        }
        bootbox.dialog({
            message: '{{tsl .Session.Lang "message.sure.batch.delete.records"}}',
            title: '{{tsl .Session.Lang "title.batch.delete.records"}}',
            buttons: {
                main: {
                    label: '{{tsl .Session.Lang "label.cancel"}}',
                    className: "btn-default",
                    callback: null
                },
                danger: {
                    label: '{{tsl .Session.Lang "label.yes"}}',
                    className: "btn-danger",
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                dataType: "json",
                                type: "POST",
                                url: 'user/delete',
                                data: {users: $.toJSON(accountArray)},
                                traditional: true,
                                success: function (data) {
                                    if (!data.success) {
                                        bootbox.alert(data.message, null);
                                    }
                                    unSelectAll();
                                    accountArray = [0];
                                    accountTable.fnClearTable(0);
                                    accountTable.fnDraw();
                                }
                            });
                        }
                    }
                }
            }
        });
    });
});

</script>
</body>
</html>
