<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{{tsl .Session.Lang "main.title"}} - {{tsl .Session.Lang "label.sign.up"}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="/css/scrolling-nav.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{{template "layout/nav" .}}

<section id="login" class="login-section">
    <div style="margin-top:100px;margin-bottom:200px;max-width: 400px;text-align: left" class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{tsl .Session.Lang "label.please.sign.up"}}</h1>

                <form role="form" action="register" method="post">
                    {{template "layout/message" .}}
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" placeholder='{{tsl .Session.Lang "label.username"}}' name="username"
                               value="{{.Response.user.Username}}" required>
                        {{with .FieldErrors.username}}
                        <div class="text-danger">{{.}}</div>
                        {{end}}
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder='{{tsl .Session.Lang "label.password"}}' name="password"
                               value="{{.Response.user.Password}}" required>
                        {{with .FieldErrors.password}}
                        <div class="text-danger">{{.}}</div>
                        {{end}}
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" placeholder='{{tsl .Session.Lang "label.email"}}' name="email"
                               value="{{.Response.user.Email}}" required>
                        {{with .FieldErrors.email}}
                        <div class="text-danger">{{.}}</div>
                        {{end}}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">{{tsl .Session.Lang "label.sign.up"}}</button>
                    </div>
                    <div class="form-group">
                        {{tsl .Session.Lang "label.already.have.an.account"}}? <a href="/user/login">{{tsl .Session.Lang "label.sign.in.now"}}.</a>
                    </div>
                </form>


            </div>
        </div>
    </div>
</section>

<!-- Core JavaScript Files -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/scrolling-nav.js"></script>
<script src="/js/easykoo.js"></script>

</body>

</html>
