<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{{.Session.Settings.AppName}} - {{tsl .Session.Lang "label.blog"}}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/front.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

{{template "layout/front_nav" .}}

<div class="container">

    <div class="row">

        {{template "layout/blog_side" .}}

        <div class="col-lg-9 pull-left">
            {{$session := .Session}}
            {{range .Response.Blog.Result}}
            <span style="font-size: 25px">
            <a href='/blog/view/{{.Id}}'>{{.Title}}</a>

            {{if $session.SignedUser}}
            {{if equal $session.SignedUser.Id .Author.Id}}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-default pull-right" href='/blog/edit/{{.Id}}'>
                {{tsl $session.Lang "label.edit"}}
            </a>
            {{end}}
            {{end}}
            </span>
            <br>
            <span class="gray" style="margin-bottom: 50px">
            {{.Author.FullName}}

            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-clock-o fa-1"></i>
            {{if equal $session.Lang "zh"}}
            发表于 {{.PublishDate | cnFormatTime}}
            {{else}}
            Posted on {{.PublishDate | formatTime}}
            {{end}}
            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-comments"></i>
                {{.GetCommentSize}}
            &nbsp;&nbsp;&nbsp;&nbsp;
            {{with .GetTags}}
            <i class="fa fa-tag fa-5"></i>
            {{range .}}
            <a class="label label-info tag" href="/blog/tag/{{.Name}}">{{.Name}}</a>
            {{end}}
            {{end}}
            </span>
            <br>
            <br>
            {{.Summary | unescaped}}
            <a class="btn btn-default" href='/blog/view/{{.Id}}'>
                {{tsl $session.Lang "label.read.more"}}
                <i class="fa fa-angle-right"></i>
            </a>
            <hr>
            {{end}}

            <!-- pager -->
            <ul class="pager">
                <li class='previous {{if equal .Response.Blog.GetPageNo 1}}disabled{{end}}'>
                    <a href="javascript:goToPage('{{.Response.Blog.GetPreviousPageNo}}')">
                        &larr;&nbsp;&nbsp;{{tsl .Session.Lang "label.previous.page"}}
                    </a>
                </li>
                {{.Response.Blog.GetPageNo}}/{{.Response.Blog.GetTotalPage}}
                <li class='next {{if equal .Response.Blog.GetPageNo .Response.Blog.GetTotalPage}}disabled{{end}}'>
                    <a href="javascript:goToPage('{{.Response.Blog.GetNextPageNo}}')">
                        {{tsl .Session.Lang "label.next.page"}}&nbsp;&nbsp;&rarr;
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <hr>
    {{template "layout/footer" .}}

</div>
<!-- /.container -->

<!-- JavaScript -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/easykoo.js"></script>

<script type="text/javascript">
    var tag = '{{.Response.Tag}}'
    var page = '{{.Response.Blog.GetPageNo}}'

    var goToPage = function (pageNo) {
        var url = "";
        if (tag == "") {
            url = '/blog?page=' + pageNo;
        } else if (tag != "") {
            url = '/blog/tag/' + tag + '?page=' + pageNo;
        }
        window.location.href = url;
    }

    $(document).ready(function () {
        $(".tag").hover(function () {
            $(this).find(".badge").removeClass("hidden");
        }, function () {
            $(this).find(".badge").addClass("hidden");
        })

        direct();
    });
</script>

</body>

</html>
