<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{{tsl .Session.Lang "main.title"}} - {{tsl .Session.Lang "label.blog"}}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/front.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

{{template "layout/front_nav" .}}

<div class="container">

    <div class="row">
        <div class="col-lg-9">
            {{$session := .Session}}
            {{range .Response.Blog.Result}}
            <h1><a href='/blog/view/{{.Id}}'>{{.Title}}</a></h1>
            {{if equal $session.Lang "zh"}}
            <p class="lead">{{.Author.FullName}}</p>
            {{else}}
            <p class="lead">by {{.Author.FullName}}</p>
            {{end}}
            <hr>
            <p>
                <span class="glyphicon glyphicon-time"></span>
                {{if equal $session.Lang "zh"}}
                发表于 {{.PublishDate | cnFormatTime}}
                {{else}}
                Posted on {{.PublishDate | formatTime}}
                {{end}}
                {{if $session.SignedUser}}
                {{if equal $session.SignedUser.Username .CreateUser}}
                &nbsp;&nbsp;<a href='/blog/edit/{{.Id}}'>{{tsl $session.Lang "label.edit"}}</a>
                {{end}}
                {{end}}
            </p>
            <hr>
            {{.Content | unescaped}}<br><br>
            <a class="btn btn-default" href='/blog/view/{{.Id}}'>{{tsl $session.Lang "label.read.more"}} <span
                    class="fa fa-chevron-right"></span></a>
            <hr>
            {{end}}

            <!-- pager -->
            <ul class="pager">
                <li class='previous {{if equal .Response.Blog.GetPageNo 1}}disabled{{end}}'>
                    <a href='/blog?page={{.Response.Blog.GetPreviousPageNo}}'>
                        &larr;&nbsp;&nbsp;{{tsl .Session.Lang "label.previous.page"}}
                    </a>
                </li>
                {{.Response.Blog.GetPageNo}}/{{.Response.Blog.GetTotalPage}}
                <li class='next {{if equal .Response.Blog.GetPageNo .Response.Blog.GetTotalPage}}disabled{{end}}'>
                    <a href='/blog?page={{.Response.Blog.GetNextPageNo}}'>
                        {{tsl .Session.Lang "label.next.page"}}&nbsp;&nbsp;&rarr;
                    </a>
                </li>
            </ul>
        </div>

        {{template "layout/blog_side" .}}

    </div>

    <hr>
    {{template "layout/footer" .}}

</div>
<!-- /.container -->

<!-- JavaScript -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/easykoo.js"></script>

<script type="text/javascript">
    var page = '.Response.Blog'
</script>

</body>

</html>
